/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

body{
  margin: 0;
}

@media  (max-width :600px) {

  .mat-menu-item {
    display: none;
  }
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}


.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  padding: 0 10px;
}




.fill-remaining-space {
  flex: 1 1 auto;
}

mat-toolbar.sticky{
  background-color: rgba(0, 0, 0, 0.961);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: #a7a7a7 0px 0px 5px;
  
  }
  mat-toolbar{
      background-color: rgba(0, 0, 0, 0.961);
  color: rgb(255, 255, 255);
  }

button{
  margin-left: 2px;

}
button.active{
 
  background: rgb(1, 92, 166);
}
button:hover{
  background: rgb(69, 123, 156);
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 2px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.shape{
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  transform: rotate(45deg);
  top: -7px;
  left: 30px;
  border-right: none;
  border-bottom: none;
}

.example-spacer {
  flex: 1 1 auto;
}

.spacer {
  padding: 0 10px;
} */

