<mat-toolbar>
  <a routerLink="/home" style="text-decoration: none;">
   <span style="font-size: 30px;">COMPANY</span>
     </a>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxHide fxShow.gt-sm>
      
      <div class="dropdown">
         <button   routerLinkActive="active" routerLink="/item1" mat-raised-button>Item</button>
         
         <div class="dropdown-content">
          <div class="shape"></div>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      
      <button  routerLinkActive="active" routerLink="/item2" mat-raised-button>Item</button>
      <button  routerLinkActive="active" routerLink="/item3" mat-raised-button>Item</button>
</div>
<button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
<mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<mat-menu x-position="before" #menu>
<button  routerLinkActive="active"  routerLink="/item1" mat-menu-item>Item</button>
<button  routerLinkActive="active"  routerLink="/item2" mat-menu-item>Item</button>
<button  routerLinkActive="active"  routerLink="/item3" mat-menu-item>Item</button>
</mat-menu>