<div class="navbar">
  <div class="top">
    <mat-icon>notifications_none</mat-icon>
  </div>
  <div class="user">

    <img src="assets/download.jpg" alt="">
    <h4 class="name">Nurse</h4>
    <p class-="mail">nurse@gmail.com</p>
  </div>
  <div class="menu">
    <div class="menu-head">
      <span>Dashboard</span>
    
     <div class="menu-item">
      <button mat-button class="manu-button" [routerLink]="['dashboard']">
        <mat-icon>dashboard</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="manu-button">
        <mat-icon>assignment</mat-icon>
        <span>Appoinments</span>
      </button>
      <button mat-button class="manu-button">
        <mat-icon>addboxs</mat-icon>
        <span>Physicians</span>
      </button>
      <button mat-button class="manu-button">
        <mat-icon>phoneenabledico</mat-icon>
        <span>Contact us</span>
      </button>
      <button mat-button class="manu-button">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </div>
  </div>
</div>
