<div class="container">
    <div class="child"><table>
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Doctor Status</th>
            <th>ID</th>
            <th>Degree</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dr. John Smith</td>
            <td>Active</td>
            <td>1234</td>
            <td>Health</td>
            <td>MBBS</td>
          </tr>
          <tr>
            <tr>
                <td>Dr. John Smith</td>
                <td>Active</td>
                <td>1234</td>
                <td>Health</td>
                <td>MBBS</td>
          </tr>
          <tr>
            <td>Dr. John Smith</td>
                <td>Active</td>
                <td>1234</td>
                <td>Health</td>
                <td>MBBS</td>
          </tr>
        </tbody>
      </table>
      </div>
    <div class="child">
        <div class="child"><table>
            <thead>
              <tr>
                <th>Doctor Name</th>
                <th>Doctor Status</th>
                <th>ID</th>
                <th>Degree</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dr. John Smith</td>
                <td>Active</td>
                <td>1234</td>
                <td>Health</td>
                <td>MBBS</td>
              </tr>
              <tr>
                <tr>
                    <td>Dr. John Smith</td>
                    <td>Active</td>
                    <td>1234</td>
                    <td>Health</td>
                    <td>MBBS</td>
              </tr>
              <tr>
                <td>Dr. John Smith</td>
                    <td>Active</td>
                    <td>1234</td>
                    <td>Health</td>
                    <td>MBBS</td>
              </tr>
            </tbody>
          </table>
    </div>  
  </div>
