<mat-grid-list cols="3" rowHeight="200px">
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Patient Count</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{patientCount}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Doctor Count</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{doctorCount}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Appointment Count</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1>{{appointmentCount}}</h1>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  
