<mat-card class="rounded-card">
    <mat-card-content class="card-content">
     <mat-card-title class="header-text">
          All Admins
    </mat-card-title>

      <mat-form-field appearance="outline" class="search-box">
        <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      
      <mat-card class="table-card">
        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell" id="ptable">
          <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header  class="table-header">Admin ID</mat-header-cell>
              <mat-cell *matCellDef="let row" class="square-box"> {{row.adminId}}</mat-cell>
            </ng-container>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header  class="table-header">Name</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
          </ng-container>
      
             <ng-container matColumnDef="contactNumber">
              <mat-header-cell *matHeaderCellDef mat-sort-header  class="table-header">Phone</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.contact}}</mat-cell>
            </ng-container>
      
              <!-- Email Column -->
            <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header  class="table-header">Email</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email}}</mat-cell>
          </ng-container> 
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
              </mat-card>
          
    </mat-card-content>
  </mat-card>