<mat-sidenav-container> 
    <mat-sidenav #sidebar mode="side" opened="">
        <app-patient-side-bar></app-patient-side-bar></mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <div class="toolbar">
                <mat-toolbar>
                    <mat-icon (click)="sidebar.toggle()">menu</mat-icon>
                    <div class="box">
                        <mat-icon> chat</mat-icon>
                        <mat-icon> email</mat-icon>
                        <mat-icon> notifications</mat-icon>
                    </div>
                </mat-toolbar>
            </div>
            <div class="main">
              <router-outlet> </router-outlet>
            </div>

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
