/* .sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

body{
  margin: 0;
}

@media  (max-width :600px) {

  .mat-menu-item {
    display: none;
  }
}

.hidden{
  display: none;
}

.spacer{
  flex: 1 1 auto;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
} */

/* 
.container {
  height: 100%;
}

.sidenav {
  width: 200px;
  nav-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: aqua;
}

.main-content {
  padding: 20px;
  margin-top: 64px; 
} */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;600;700;800&display=swap');
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-height: 50px;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-link {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}

.menu-button {
  margin-left: 20px;
}

@media screen and (max-width: 600px) {
  .logo {
    max-height: 40px;
  }
  
  .menu-link, .menu-button {
    margin-left: 10px;
    font-size: 14px;
  
  }
  
  .menu-link:last-child, .menu-button {
    margin-left: 0;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color:#F1F5FE;;
}

.paragraph-card {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color:#F1F5FE;;
}

.image-card {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
  background-color:#F1F5FE;;
}
.button1{
  margin-left: 10px;
}

.image {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
.paragraph-card h1 {
  font-size: 61px;
  font-weight: bold;
  font-family: 'Heebo', sans-serif;
  /* font-family:; */
  font-weight:600;
  margin: 0px 0px 8px;
}
.Button2 {
  width: 300px;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #0a338e;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.Button2:hover {
  background-color: #0a338e;
}

@media screen and (max-width: 768px) {
  .paragraph-card,
  .image-card {
    width: 100%;
  }
}

.mat-card-no-shadow {
  box-shadow: none;
}
.card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  background-color:#fff;
  box-shadow: none;
  width:auto;
}

.card {
  margin-top: 10px;
  flex-basis: calc(25% - 30px);
  margin: 15px;
  box-shadow: none;
}

.card-container-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mat-card-doctors,
.mat-card-patients,
.mat-card-nurses,
.mat-card-appointments {
  background-color:;
  color:black;
}
.example-card {
  flex-basis: calc(23% - 30px);
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-right: 30px;
}
.my-custom-background {
  background-color:#3F51B5 ; 
}
.logo-text{
  font-weight:600;
  margin-left: 5px;
}
.shake-effect:hover {
  animation: shake 0.9s;
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
.example-card {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.example-card:hover {
  box-shadow: 0 0 10px 3px rgba(72, 74, 238, 0.3);
}
.mat-card-appointments{
  background-color: whitesmoke;
}
.mat-card-doctors{
  background-color: white;
  text-color:white;
}
.mat-card-nurses{
  background-color:white;
}
.mat-card-patients{
  background-color:white ;
}
footer {
  background-color: #3F51B5;
  color: #fff;
  padding: 40px 0;
  font-size: 16px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

.contact-info, .social-media {
  flex: 1;
  margin: 0 20px;
}

.contact-info h3, .social-media h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.bottom-bar {
  background-color: #3F51B5;
  text-align: center;
  padding: 20px 0;
}

.bottom-bar p {
  margin: 0;
}
.logo-container {
  display: flex;
  align-items: center;
  font-size: 0; /* Set font-size to 0 to remove any extra space between the logo and text */
}

.logo {
  width: 50px; /* Set the width of the logo as per your requirement */
  height: 50px; /* Set the height of the logo as per your requirement */
  font-size: 50px; /* Set the font-size of the logo as per your requirement */
  margin-right: 0px; /* Set the margin between the logo and text as per your requirement */
}

.logo-text {
  font-size: 35px; 
  vertical-align: 10px;
  /* Set the font-size of the text as per your requirement */
}
